.container {
  & .stars {
    @apply absolute;
  }

  & .astronaut {
    @apply object-contain p-[50px];
    animation: float 2s infinite ease-in;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  50% {
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
