# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# OS metadata
.DS_Store
Thumbs.db

# Editor metadata
.vscode/
!.vscode/extensions.json
.idea/

# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/
etc/coverage/

# next.js
.next/
.vercel/
.turbo/
out/
build/
next-env.d.ts

# Contentlayer
.contentlayer/

# local API keys and secrets
.env.local
.env.*.local

# sensitive files
*.pem
*.swp

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo

# hot updates
dist/*.hot-update.*
