.card {
  @apply hover:no-underline;

  & > .inner {
    @apply relative bg-white rounded-l-lg rounded-br-lg border border-slate-200 shadow-md mb-10;

    & > .image {
      @apply flex items-center justify-center p-8;

      & > img {
        @apply w-auto h-full;
      }
    }

    & > .text {
      @apply absolute top-0 w-full h-full flex flex-col items-center justify-center p-8 md:p-0;

      &.left {
        @apply md:items-start;

        & > .title,
        & > .description {
          @apply text-center md:text-left;
        }
      }

      &.right {
        @apply md:items-end;

        & > .title,
        & > .description {
          @apply text-center md:text-right;
        }
      }

      & > .title,
      & > .description span {
        @apply break-words text-ellipsis bg-blue-400 bg-opacity-100 text-white box-decoration-clone px-4 py-2 leading-relaxed lg:leading-loose;
      }

      & > .title {
        @apply py-1 px-5 text-2xl sm:py-2 sm:text-3xl md:py-3 md:text-4xl lg:text-5xl mb-0 font-bold tracking-tight;
      }

      & > .description {
        @apply pb-1 text-base sm:text-lg md:text-xl md:max-w-xl lg:text-2xl font-normal;
      }
    }
  }
}
