.app {
  @apply flex flex-col min-h-screen;

  .page-content {
    display: block;
    width: 100%;
  }

  /* Small Screens */
  @media only screen and (max-width: 800px) {
    .page-content {
      width: auto;
      padding: 2em 2em 1em 2em;
      margin-left: 0;
    }
  }

  /* Tiny Screens */
  @media only screen and (max-width: 320px) {
    .page-content {
      padding: 1.2em 1.2em 0.6em 1.2em;
    }
  }

  & main {
    @apply flex-1;

    .top-side {
      @apply flex flex-row-reverse p-4;
    }

    .hero-section {
      @apply bg-[url('./background.svg')] bg-cover bg-no-repeat bg-[#F4F4F4];

      .inner {
        @apply mx-auto container flex flex-col lg:flex-row lg:justify-between p-2 pb-8 lg:p-12 lg:h-[30em] lg:bg-[url('../hero/round-of-people.svg')] bg-contain bg-right bg-no-repeat;

        .content {
          @apply flex flex-col justify-center lg:max-w-xl xl:max-w-3xl;

          & img {
            @apply object-contain w-auto;
          }

          & p {
            @apply text-base leading-relaxed text-justify lg:text-lg xl:text-xl;
          }
        }
      }
    }

    .content-section {
      @apply p-8;

      .inner {
        @apply mx-auto container;
      }
    }
  }
}
