.icon {
  @apply h-5 w-5;
}

.container {
  @apply flex-1 flex justify-end;

  & a {
    @apply hidden xl:flex;

    &.disabled {
      @apply cursor-not-allowed opacity-80;
    }
  }

  & .description {
    @apply sr-only;
  }
}
