@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  :root {
    /* --background: 228 33.33% 97.06%; */
    --background: 0 0% 100%;
    --foreground: 0 0% 37%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --link: 223 28% 47%;
    --link-hover: 209 73% 43%;
    --accent: 210 40% 95.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --safe: 117.45 52.81% 82.55%;
    --safe-foreground: 158.18 57.89% 26.08%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    /* --background: 200.63 43.24% 14.51%; */
    /* --background: 222.2 84% 4.9%; */
    --background: 215 27.91% 16.86%;
    --foreground: 217.89 10.61% 64.9%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --border: 222.2 47.4% 11.2%;
    --input: 217.2 32.6% 17.5%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --link: 198.63 88.66% 48.43%;
    --link-hover: 209 73% 53%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --safe: 117.45 52.81% 82.55%;
    --safe-foreground: 158.18 57.89% 26.08%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 217.2 32.6% 17.5%;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply font-serif text-4xl my-8;
    /* scroll-m-20 text-4xl font-semibold lg:text-5xl my-8 first:mt-0 */
    /* text-3xl sm:text-3xl md:text-5xl lg:text-6xl */
  }

  h2 {
    @apply font-serif text-3xl mt-6 mb-2;
    /* scroll-m-20 pb-2 text-3xl font-medium transition-colors mt-8 first:mt-0 mb-4 */
  }

  h3 {
    @apply font-serif text-2xl mt-4 mb-1;
    /* scroll-m-20 text-2xl font-medium mt-6 first:mt-0 mb-4 */
  }

  h4 {
    @apply font-serif text-xl mt-2 mb-0;
    /* scroll-m-20 text-xl font-medium mt-4 first:mt-0 mb-2 */
  }

  h5 {
    @apply font-serif my-0;
  }

  h6 {
    @apply font-serif my-0;
  }

  p {
    @apply mt-0 mb-4;
    /* leading-7 mb-6 */

    /* &.lead {
      @apply text-xl text-muted-foreground;
    } */
  }

  blockquote {
    /* @apply mt-6 border-l-2 pl-6 italic; */
  }

  code {
    /* @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold; */
  }

  pre {
    /* @apply mt-6 p-4 bg-muted rounded-md; */
  }

  ul,
  ol {
    @apply mt-0 mb-4 mx-0 px-5 list-disc;
    /* [&>li]:mt-2; */
  }

  a {
    @apply text-link hover:text-link-hover underline underline-offset-4;
    /* font-medium */
  }

  strong {
    @apply font-medium text-primary;
  }
}
