/*
  globals.css is a great place to define global CSS variables and rules.
  Additionally, if you install any additional CSS packages, import them here.

  But, be mindful of what you put here. Every rule you put here will be
  applied globally, which could have unintended design consequences.

  Rules:
  - DO use CSS variables for colors, fonts, and other dynamic values
  - DO use Tailwind CSS rules with @apply directives as much as possible
  - DO keep in mind there can be different layouts, so bundle color schemes,
    font styles, font sizes, and other values with their respective layouts
  - DO NOT import reset or normalize css rules other than already existing here
  - DO NOT use Tailwind CSS rules directly in your components
*/

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark {
  @media (prefers-color-scheme: dark) {
    &:where([data-theme="default"], [data-theme="default"] *) {
      @slot;
    }
  }
  &:where([data-theme="midnight"], [data-theme="midnight"] *) {
    @slot;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --animate-float: float 2s ease-in infinite;

  @keyframes float {
    0% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }

    50% {
      transform: translateY(1rem);
      -webkit-transform: translateY(1rem);
    }

    100% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-synthesis: none;
    font-feature-settings: "rlig" 1, "calt" 1;
    @apply bg-background text-foreground subpixel-antialiased;
  }
}
