.astronaut {
  @apply absolute hidden md:inline-block max-w-[200px] lg:max-w-[300px] xl:max-w-[400px] end-0;
  animation: float 2s infinite ease-in;

  & > img {
    @apply object-contain;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  50% {
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
