.article {
  @apply mx-auto container text-lg 2xl:text-xl max-w-4xl sm:pb-4 lg:pb-6;

  .page {
    & h1 {
      @apply text-4xl mb-8;
    }

    & h2 {
      @apply text-3xl mb-6;
    }

    & h3 {
      @apply text-2xl mb-4;
    }

    & h4 {
      @apply text-xl mb-2;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      @apply mt-12;
    }

    .content-meta {
      @apply hidden text-xs text-gray-600 mb-10;
    }

    .content {
      & ul {
        @apply list-disc list-inside;
      }

      & p {
        @apply text-justify;
      }

      & p,
      & ul {
        @apply leading-relaxed text-base text-justify mb-8;
      }

      & strong {
        @apply font-semibold;
      }
    }
  }
}
