@reference "../../../../shared/globals.css";

.filterBar {
  /* display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px; */

  & > [role="group"] {
    @apply w-auto;

    & > [role="radio"] {
      /* @apply border-0 rounded-none; */
    }
  }
}

.filterBar button {
  /* padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s; */
}

.filterBar button:hover {
  /* background-color: #e0e0e0; */
}

.filterBar button[data-state="on"] {
  /* background-color: #007bff;
  color: white;
  border-color: #007bff; */
}
